.section-title::after {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 3px;
    background: #86b2f3;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  